#adsense1 {
    position : fixed;
    left     : 0px;
    top      : 0px;
}

#ad_right_column {
    width    : 160px;
    height   : 500px;
    //background-color : #87cefa;
    right    : 0px;
    top      : -35px;
    position : absolute;
}

#ad_sidebar {
    width       : 125px;
    height      : 140px;
    //background-color : #00ffff;
    position    : fixed;
    right       : 0px;
    //top         : 100px;
    //color       : white;
    bottom      : 0px;
    font-family : helvetica;
    font-weight : bold;
    font-size   : 13px;
    z-index     : 10;

}

.ad_rect{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 728px;
}

.ad_result{
    margin-left: -10px;
    //height: 22px;
}