$back_top_size : 60px;
#back-top {
	position: fixed;
	bottom: 20px;
    right: 20px;
	//margin-left: -150px;
}

#back-top a {
	width: $back_top_size;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: $back_top_size;
	height: $back_top_size;
	display: block;
	margin-bottom: 7px;
	//background: #ddd url(/static/images/up_arrow.png) no-repeat center center;
	background: #ddd url(http://i.imgur.com/CxAsyCx.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}