// http://robalan.com/playground/buttons.html

button, a.button {
    border                : 1px solid rgba(0, 0, 0, 0.3);
    background            : #eee;
    color                 : #515151;
    display               : inline-block;
    font-size             : 14px;
    font-weight           : 700;
    padding-top           : 11px;
    padding-right         : 10px;
    padding-left          : 10px;
    padding-bottom        : 11px;
    position              : relative;
    text-decoration       : none;
    background            : -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(203, 203, 203)), color-stop(0.58, rgb(227, 226, 226)));
    background            : -moz-linear-gradient(center bottom, rgb(203, 203, 203) 21%, rgb(227, 226, 226) 58%);
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
    -moz-box-shadow       : 0 0 0 5px rgba(255, 255, 255, 0.3) /* glass edge */, inset 0 1px 0 0 rgba(255, 255, 255, 0.5) /* top highlight */, inset 0 -3px 0 0 rgba(0, 0, 0, 0.5) /* bottom shadow */;
    -webkit-box-shadow    : 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
    box-shadow            : 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 0 rgba(0, 0, 0, 0.5);
    text-shadow           : 0 1px rgba(255, 255, 255, 0.6);
}

button::-moz-focus-inner, a.button::-moz-focus-inner {
    padding : 0;
    border  : 0;
}

button:hover, a.button:hover {
    background : #cbcbcb;
    cursor     : pointer;
}

button:active, a.button:active {
    background         : #ccc;
    padding-top        : 12px;
    padding-right      : 10px;
    padding-left       : 10px;
    padding-bottom     : 10px; /* Bump down text–Thanks to Jason for the suggestion */
    -moz-box-shadow    : 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow : 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow         : 0 0 0 5px rgba(255, 255, 255, 0.3), inset 0 -1px 0 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    text-shadow        : none;
}

button[disabled] {
    background         : #ddd;
    color              : #ccc;
    cursor             : default;
    -moz-box-shadow    : 0 0 0 5px rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow : 0 0 0 5px rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
    box-shadow         : 0 0 0 5px rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
    text-shadow        : none;
}

button[disabled]:active {
    background : #ddd;
    color      : #ccc;
}

.red {
    background  : #e1001a;
    color       : #fff;
    background  : -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(192, 0, 22)), color-stop(0.58, rgb(226, 0, 26)));
    background  : -moz-linear-gradient(center bottom, rgb(192, 0, 22) 21%, rgb(226, 0, 26) 58%);
    text-shadow : 0 1px rgba(0, 0, 0, 0.25);
}

.red:hover {
    background  : #cb0018;
    text-shadow : 0 1px rgba(0, 0, 0, 0);
}

.red:active {
    background : #ae0014;
}

a.smaller {
    font-size : 12px;
    margin    : 18px 0px;
    padding   : 10px 14px;
}

a.smaller:active {
    padding : 11px 14px 9px;
}