$text_color : #2F4F4F;
$pading_interior : 30px;
#text_content {
    background-color : #ffffff;
    padding          : $pading_interior;
    min-height       : 422px - 2 * $pading_interior;
    text-align       : justify;
    font-size        : 24px;
    a {
        color           : $text_color;
        text-decoration : none;
    }

    a:hover {
        color           : lighten($text_color, 10%);
        text-decoration : none;
        cursor          : pointer;
    }
    img {
        display      : block;
        margin-left  : auto;
        margin-right : auto;
    }
}

.partner {
    width   : 125px;
    height  : 125px;
    display : inline-block;
}

#partners {
    width: 260px;
    left: 270px;
    position : absolute;
}

