#footer {

    background-color : #333333;
    position         : absolute;
    //height           : 200px;
    bottom           : 0px;
    //margin-top       : 50px;
    min-height       : 100px;
    z-index          : 0;
    overflow         : hidden;
    width: 100%;

}

#contact {
    position         : absolute;
    left             : 0px;
    bottom           : 0px;
    font-family      : Helvetica;
    font-size        : 14px;
    padding          : 10px;

    font-weight      : bold;
    z-index          : 20;
    background-color : #d3d3d3;
}