$beta_color : black;
#beta {
    position              : absolute;
    width                 : 100px;
    left                  : 280px;
    top                   : -10px;
    z-index               : 5000;
    font-size             : 18px;
    color                 : $beta_color;
    text-align            : center;
    display    : none;
    padding               : 20px;
    background-color      : rgba(178, 178, 178, 0.9);
    -webkit-border-radius : 10px;
    -moz-border-radius    : 10px;
    border-radius         : 10px;
    a {

        color           : $beta_color;
        text-decoration : none;
    }

    a:hover {
        color           : $beta_color;
        text-decoration : none;
        cursor          : pointer;
    }
    b {
        font-weight : bold;
        font-size   : 20px;
    }
}

#menu_beta {
    background-color      : red;
    color                 : #ffffff;
    //width            : 60px;
    height                : 25px;
    text-align            : center;
    margin-top            : -5px;
    margin-left           : -20px;
    padding-top           : 5px;
    padding-right         : 5px;
    padding-left          : 5px;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
}

#header {
    background-color : #000000;
    z-index          : 200;
    margin-top       : -10px;
}

#menu_wrapper {
    margin-left  : auto;
    margin-right : auto;
    position     : relative;
    // hack
    width        : 580px;
}

#menu {

    color       : #ffffff;
    font-family : Helvetica;
    font-weight : bold;
    font-size   : 20px;
    padding     : 10px;
    height      : 20px;
    display     : inline-block;

}

.menu_item {
    margin-right : 20px;
    display      : inline-block;

    // usar para q sea posible hacerlo link
    position     : relative;

    a {
        color           : #ffffff;
        text-decoration : none;
    }

    a:hover {
        color           : #ffebcd;
        text-decoration : none;
        cursor          : pointer;
    }
}



