/* @override 
	http://127.0.0.1:8000/static/css/index.css */

/* line 3, ../../SubtitleDownloaderCompass/sass/index.scss */
#content {
  width: 760px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
    margin-top: 30px;
  position: relative;
}

/* line 12, ../../SubtitleDownloaderCompass/sass/index.scss */
#ad_left {
  width: 160px;
  height: 500px;
  background-color: #87cefa;
  right: 0px;
  top: 0px;
  position: absolute;
}

#sites_block{
    
}

.site{
    
    
}