@import "back_to_top";

$shadowsize : 10px;
$language_result_box_width : 740px;
$language_result_box_padding : 10px;
.language_result_box {
    //-moz-box-shadow       : $shadowsize 0 $shadowsize;
    //-webkit-box-shadow    : $shadowsize 0 $shadowsize;
    //box-shadow            : $shadowsize 0 $shadowsize;
    padding-top           : 5px;
    padding-bottom        : 10px;
    padding-left          : $language_result_box_padding - 5px;
    padding-right         : $language_result_box_padding;
    margin-bottom         : 15px;
    position              : relative;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;

    color                 : white;
    background-color      : #2f2c2d;

}

.language_result_list {
    overflow    : hidden;
    td {
        //padding-left : 2px;
    }
    font-size   : 14px;
    font-family : Helvetica;
    table {
        width : $language_result_box_width - 2 * $language_result_box_padding;
        fixed {
            table-layout : fixed;
        }
        fixed td {
            overflow : hidden;
        }
    }
}

ff

.language_result_info {
    display : inline-block;
    float   : left;
}

.inline {
    display : inline-block;
}

.hyperlink {
    position         : absolute;
    width            : 100%;
    height           : 100%;
    top              : 0;
    left             : 0;

    /* edit: added z-index */
    z-index          : 1;

    /* edit: fixes overlap error in IE7/8,
    make sure you have an empty gif */
    background-image : url('empty.gif');
    font-size        : 32px;
}

// score
$progress_bar_color : orange;
#progressbar {
    background-color : black;
    border-radius    : 13px; /* (height of inner div) / 2 + padding */
    padding          : 1px;
    width            : 60px;
    margin-left      : 10px;
    display          : inline-block;
    div {
        background-color : $progress_bar_color;
        width            : 40%; /* Adjust with JavaScript */
        height           : 5px;
        border-radius    : 1px;
    }

}

.score_number {
    font-size  : 11px;
    width      : 35px;
    text-align : right;
    display    : inline-block;
}

$gray : #eeeeee;
$content_width : 770px;
#results {
    display        : none;
    z-index        : 100;

    padding-bottom : 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position       : relative;
    width          : $content_width;
}

#results_content {
    padding : 10px;
    background-color : rgba(178, 178, 178, 0.80);
}

.modal {
    display    : none;
    position   : fixed;
    z-index    : 1000;
    top        : 0;
    left       : 0;
    height     : 100%;
    width      : 100%;
    background : rgba(255, 255, 255, .8) url('http://i.imgur.com/WTarM.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow : hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display : block;
}

.description {
}

.no_results_found {
    font-size   : 16px;
    font-weight : bold;
    text-align  : center;
}

.close_results {
    -moz-box-shadow       : inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow    : inset 0px 1px 0px 0px #97c4fe;
    box-shadow            : inset 0px 1px 0px 0px #97c4fe;
    background            : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background            : -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
    filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color      : #3d94f6;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;
    border                : 1px solid #337fed;
    display               : inline-block;
    color                 : #ffffff;
    font-family           : Verdana;
    font-size             : 15px;
    font-weight           : bold;
    padding               : 6px 24px;
    text-decoration       : none;
    text-shadow           : 1px 1px 0px #1570cd;
    position              : absolute;
    right                 : 10px;
    top                   : 10px;

}

.close_results:hover {
    background       : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background       : -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
    filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color : #1e62d0;

    cursor           : pointer;
}



