/* @override */
// sass ~/Dropbox/Developer/SubtitleDownloader/SubtitleDownloaderCompass/sass/:~/Dropbox/Developer/SubtitleDownloader/static/css/
//@import "button";
@import "header";
@import "ads";
@import "checkboxes";
@import "logo";

$gray : #eeeeee;
$dark-gray : #666;
$green : #060;

$form_background_color : $gray;
$form_foreground_color : $dark-gray;
$main_background_color : $dark-gray;
$main_foreground_color : white;

textarea {
    padding-left : 5px;
    padding-top  : 5px;
    resize       : none;
}

$content_width : 600px;
body {
    background   : #eee;
    //border-style : dashed;
    margin-left  : auto;
    margin-right : auto;
    //position     : relative;
}

@mixin border {
    border-top       : 1px solid $main_background_color;
    border-right     : 1px solid $main_background_color;
    border-bottom    : 1px solid $main_background_color;
    border-left      : 10px solid $main_background_color;
    padding          : 5px;
    color            : $dark-gray;
    font-size        : 15px;
    font-weight      : bold;
    font-family      : "Helvetica Neue";
    background-color : $form_background_color;
    height           : 20px;
}

$search_button_width : 80px;
@mixin rounded_border {
    border                : 1px solid #696;
    padding               : 2px 0;
    text-align            : center;
    width                 : 20px;
    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;
    -webkit-box-shadow    : #666 0px 2px 3px;
    -moz-box-shadow       : #666 0px 2px 3px;
    box-shadow            : #666 0px 2px 3px;
    background            : #EEFF99;
}

@mixin inner_shadow {
    -webkit-box-shadow : inset -10px -10px 15px 0px rgba(00, 00, 00, 0.2);
    box-shadow         : inset -10px -10px 15px 0px rgba(00, 00, 00, 0.2);
}

$margin : 10px;
$form_height : 120px;
$search_info_size : ($content_width -$margin);
$search_info_right_margin : ($margin);

$search_form_border : 3px;

$search_box_width : 730px;
$search_box_background_color : rgba(00, 00, 00, 0.8);

#search_box {
    border-color     : #ffffff;
    border-style     : solid;
    border-width     : $search_form_border;
    //@include inner_shadow;
    width            : $search_box_width;
    height           : 100px;
    background-color : $search_box_background_color;
    color            : #ffffff;
    font-size        : 18px;
    font-weight      : bold;
    font-family      : "Courier New";
    padding          : 5px;
    resize           : none;
    position         : absolute;
    bottom           : 47px;
    left             : 10px;
}

$search_button_width : 150px;
$search_button_height : 34px;
$search_button_background_color : rgba(00, 00, 00, 0.8);
#search_button {

    border-color       : #ffffff;
    border-style       : solid;
    border-width       : $search_form_border;

    display            : block;
    width              : $search_button_width;
    height             : $search_button_height;
    //background-image   : url(http://i.imgur.com/Dbokhlw.png);
    -webkit-appearance : none;

    position           : absolute;
    bottom             : 16px;
    left               : 606px;
    font-size          : 14px;
    background-color   : $search_button_background_color;
    color              : #ffffff;
    cursor             : pointer;
}

.facebook_like {
    position : absolute;
    left     : -10px;
    top      : 0px;
    //top      : 560px;
    z-index  : 9999;
}

// USED TO MAKE A DIV CLICKABLE
._href_hyperlink_div {
    position         : absolute;
    width            : 100%;
    height           : 100%;
    top              : 0;
    left             : 0;

    /* edit: added z-index */
    z-index          : 1;

    /* edit: fixes overlap error in IE7/8,
       make sure you have an empty gif */
    background-image : url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}

#content_wrapper {
    position       : relative;
    margin-left    : auto;
    margin-right   : auto;
    width          : 900px;
    top            : 10px;
    padding-bottom : 20px;
}

$tv_width : 800px;
$tv_height : 422px;
#tv {
    width        : $tv_width;
    z-index      : 10;
    margin-left  : auto;
    margin-right : auto;
    top          : 20px;
}

#tv_up {

    //background-image : url(../images/tv_up.png);
    background-image : url(http://i.imgur.com/T64ARN7.png);
    height           : 12px;
    width            : $tv_width;
    top              : 0px;

}

$tv_body_padding : 15px;
// imagen: 772 513
#tv_body {
    //background-image : url(../images/tv_border.png);
    background-image : url(http://i.imgur.com/pGIisBV.png);
    min-height       : $tv_height;
    position         : relative;
    padding-left     : $tv_body_padding;
    padding-right    : $tv_body_padding;
    z-index          : 13;

}

#tv_bottom {
    background-image  : url(http://i.imgur.com/JR8P2tJ.png);
    height            : 108px;
    z-index           : 13;
    width             : $tv_width;
    height            : 102px;
    position          : relative;
    background-repeat : no-repeat;
    padding-bottom    : 10px;
}

$search_info_width : $tv_width - 2 * $tv_body_padding;
$search_info_height : 513px;
#search_info {
    // game of thrones : http://i.imgur.com/pKC4vUV.png
    // how i met your mother: http://i.imgur.com/pGIisBV.png
    background-image  : url(http://i.imgur.com/pKC4vUV.png);
    height            : $search_info_height;
    width             : $search_info_width;
    background-repeat : no-repeat;
    position          : relative;
    z-index           : 2;
}

#search_form {
    margin-bottom : 10px;
    width         : $search_info_width;
    position      : relative;
    height        : 100%;
    width         : 100%;
    z-index       : 50;
}

#drag_n_drop {
    //@include drag_n_drop;
    position          : absolute;
    width             : 86px;
    height            : 96px;
    bottom            : 58px;
    right             : 20px;
    background-repeat : no-repeat;
    background-image  : url(http://i.imgur.com/gtYGdA5.png);
    //line-height : 20px;
    //padding     : 3px;
    cursor            : pointer;
    //display: none;
}

$select_file_width : 220px;
$select_file_height : 16px;
$select_file_background_color : rgba(00, 00, 00, 0.8);
#select_file {
    border-color       : #ffffff;
    border-style       : solid;
    border-width       : $search_form_border;

    display            : block;
    height             : $select_file_height;
    width              : $select_file_width;
    //background-image   : url(http://i.imgur.com/Dbokhlw.png);
    -webkit-appearance : none;

    cursor             : pointer;
    position           : absolute;
    top                : 318px;
    left               : 10px;
    font-size          : 14px;
    background-color   : $select_file_background_color;
    color              : #ffffff;
    font-family        : arial;
    padding            : 6px;
    text-align         : center;
}

$drop_here_padding : 20px;
#drop_here {
    width            : $tv_width - 2 * $drop_here_padding - 2 * $tv_body_padding;
    height           : $search_info_height - 2 * $drop_here_padding;
    position         : absolute;
    z-index          : 200;
    margin-left      : auto;
    margin-right     : auto;
    padding          : $drop_here_padding;
    background-color : rgba(255, 255, 255, 0.8);
    display          : none;
}

#drop_here_box {
    border-color : gray;
    border-style : dashed;
    border-width : 5px;
    width        : 100%;
    height       : 100%;
    font-size    : 82px;
    color        : gray;
    text-align   : center;
}

.vertical_center {
    margin-top : 180px;
}

.invisible_input {
    top      : 331px;
    left     : 660px;
    position : absolute;
    height   : 0px;
    width    : 0px;
    overflow : hidden;
}

$logo_width : 374px;
#logo {
    color    : #ffffff;
    position : absolute;
    height   : 45px;
    width    : $logo_width;
    bottom   : 12px;
    left     : ($tv_width - $logo_width)/2;
}

#design {

    width        : 100%;
    height       : 100%;
    position     : absolute;
    margin-left  : auto;
    margin-right : auto;
    top          : 30px;
    z-index      : 0;

}

$language_width : 140px;
$language_color : rgba(00, 00, 00, 0.5);
$language_color_border : rgba(255, 255, 255, 0.3);
$language_color_border_radius : 10px;
;
.language {
    //@include rounded_border;
    padding-top                        : 5px;
    margin-right                       : 12px;
    color                              : #ffffff;
    background                         : $language_color;
    height                             : 26px;
    width                              : $language_width - 5px;
    display                            : inline-block;
    border                             : none;
    font-size                          : 15px;
    text-align                         : center;
    border-bottom-left-radius          : $language_color_border_radius;
    border-bottom-right-radius         : $language_color_border_radius;
    -moz-border-bottom-left-radius     : $language_color_border_radius;
    -moz-border-bottom-right-radius    : $language_color_border_radius;
    -webkit-border-bottom-left-radius  : $language_color_border_radius;
    -webkit-border-bottom-right-radius : $language_color_border_radius;

    border-bottom                      : $search_form_border solid $language_color_border;
    border-right                       : $search_form_border solid $language_color_border;
    border-left                        : $search_form_border solid $language_color_border;

}

.language_selected {
    background : #87cefa;
}

#table_of_languages {
    font-family : helvetica;
    font-size   : 15px;
    top         : 466px;
    left        : 10px;
    position    : absolute;

    ul {
        width           : $content_width;
        //margin: 10px;
        color           : #c4c471;
        list-style-type : none;
        li {
            width        : 200px;
            margin-top   : 3px;
            margin-right : 10px;
            display      : inline-block;
            color        : $main_background_color;
        }

    }
}

#search_engines_block {
    position   : absolute;
    left       : ($content_width - 3*$language_width)/2;
    margin-top : -15px;
}

#information_message {
    @include inner_shadow;
    color            : #ffffff;
    border-color     : #ffffff;
    background-color : #a70761;
    font-size        : 24px;
    opacity          : 1;
    border-radius    : 10px;
    text-align       : center;
    display          : none;
    width            : 650px;
    padding          : 10px;
    z-index          : 10;
    margin-left      : auto;
    margin-right     : auto;

    a {

        color           : #ffffff;
        text-decoration : none;
    }

    a:hover {
        color           : #a9a9a9;
        text-decoration : none;
        cursor          : pointer;
    }
    b {
        font-weight : bold;
        font-size   : 20px;
    }
}

#social {
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;
    margin-bottom         : 15px;
    padding               : 10px;
    font-size             : 14px;

    font-family           : "Helvetica Neue";
    color                 : #000000;
    background-color      : #eeeeee;
    .fb-like {
        margin-top : 10px;
    }
}

