#text_content { padding: 30px; text-align: justify; font-size: 24px; }
#text_content a { color: darkslategrey; text-decoration: none; }
#text_content a:hover { color: #426f6f; text-decoration: none; cursor: pointer; }
