#adsense1{position:fixed;left:0px;top:0px}#ad_right_column{width:160px;height:500px;right:0px;top:-35px;position:absolute}#ad_sidebar{width:125px;height:140px;position:fixed;right:0px;bottom:0px;font-family:helvetica;font-weight:bold;font-size:13px;z-index:10}
