#text_content{background-color:#ffffff;padding:30px;min-height:362px;text-align:justify;font-size:24px}#text_content a{color:#2f4f4f;text-decoration:none}#text_content a:hover{color:#426f6f;text-decoration:none;cursor:pointer}#text_content img{display:block;margin-left:auto;margin-right:auto}.partner{width:125px;height:125px;display:inline-block}#partners{width:260px;left:270px;position:absolute}
