#content{width:760px;background-color:green;margin-left:auto;margin-right:auto;margin-top:30px;position:relative}#ad_left{width:160px;height:500px;background-color:#87cefa;right:0px;top:0px;position:absolute}
