{% extends "base.html" %}
{% block js_css %}
    <link href="{{ STATIC_URL }}css/content.css" media="screen" rel="stylesheet" type="text/css"/>
{% endblock js_css %}
{% block content %}
    <div id="text_content">

        Subtitles4me is a subtitle crawler. Currently we are indexing subtiles from
        <strong>Subdivx</strong>, <strong>Podnapisi</strong> and <strong>Legendas TV</strong>.
        We plan to index more subtitles websites in the future.
        Feel free to leave some suggestions or anything you want to tell us! This website was developed
        using
        <a href="https://www.djangoproject.com/"><strong>django</strong></a> and is hosted in a
        <a href="http://secure.hostgator.com/~affiliat/cgi-bin/affiliates/clickthru.cgi?id=edubecks-">
            <strong>Hostgator VPS Server</strong>
        </a> .
        <br>
        <br>

        <div id="partners">


            <div class="partner">

                <a href="https://www.djangoproject.com/"><img
                        src="http://i.imgur.com/MSinBg3.jpg" alt="django"></a>
            </div>
            <div class="partner">

                <a href="http://bit.ly/YuZHQy">
                    <img
                            src="http://i.imgur.com/afQBbOw.gif" border="0"></a>
            </div>
        </div>

    </div>

{% endblock content %}