<div id="ad_sidebar">
    Proudly hosted in:
    <a href="http://secure.hostgator.com/~affiliat/cgi-bin/affiliates/clickthru.cgi?id=edubecks-"><img
            src="http://i.imgur.com/afQBbOw.gif" border="0"></a>
</div>