{% extends "base.html" %}
{% block js_css %}
    <link href="{{ STATIC_URL }}css/content.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/contact.css" media="screen" rel="stylesheet" type="text/css"/>
{% endblock js_css %}
<!DOCTYPE html>
{% block content %}
    <div id="text_content">
        We're currently in beta.
        Feel free to leave your opinions or any suggestions you have.
        Feedback is always welcome!
        You can send us an email at:
        <br>        <br>
        <div class="info">
            <a href="mailto:subtitles4me@gmail.com?subject=suggestions">subtitles4me {at} gmail {dot} com</a>
        </div>
        <br><br>
        or give us suggestions through:
        <br>
        <br>
        <div class="info">

        <a href="http://subtitles4me.uservoice.com/">
            Subtitles4me feedback
        </a>
        </div>

    </div>

{% endblock content %}