{#todo-dinenhador anhadir info y otras cosas sobre la pagina#}
<div id="footer">
    <div id="contact">
        Contact? Suggestions?
        <br>
        <a href="http://safemail.justlikeed.net/" target="_blank">
            <img src="http://safemail.justlikeed.net/e/4ed3a28ea9ae9d5a4310b06f36f979b0.png" border="0"
                    {#        <img src="http://i.imgur.com/FLpurXy.png" border="0"#}
                 align="absbottom" title="Contact Subtitles 4 me">
        </a>

    </div>
</div>
