<div id="header">
    <div id="menu_wrapper">
    <div id="menu">
        <div class="menu_item " id="menu_home">
            <a href="/">
                {#                <img src="http://i.imgur.com/Dbokhlw.png" alt="Subtitles4me">#}
                [ Subtitles4me ]
                <span class="_href_hyperlink_div"></span>
            </a>
        </div>
        <div class="menu_item" id="menu_beta">
            <a href="/contact/">beta<span class="_href_hyperlink_div"></span>
            </a>
        </div>
        <div class="menu_item" id="menu_contact">
            <a href="/contact/">Contact<span class="_href_hyperlink_div"></span>
            </a>
        </div>
        <div class="menu_item" id="menu_how_to_use">
            <a href="/how-to-use/">How to use?<span class="_href_hyperlink_div"></span>
            </a>
        </div>
        <div class="menu_item" id="about">
            <a href="/about/">About<span class="_href_hyperlink_div"></span>
            </a>
        </div>
    </div>
    </div>
</div>