{% extends "base.html" %}
{% block js_css %}
    <link href="{{ STATIC_URL }}css/content.css" media="screen" rel="stylesheet" type="text/css"/>
{% endblock js_css %}
{% block content %}
    <div id="text_content">
        You just need to paste the files (yes, you can search multiple files at the same time)
        and click the [SEARCH] button! Example:
        <br>
        <img src="http://i.imgur.com/UAOQB2D.png" alt="subtitles4me search example">
        <br>


        Our search engine will handle them and show the best results for each file in the specified
        languages.
        <br>
        <img src="http://i.imgur.com/eqIZFBn.png" alt="subtitles4me search results">
        <br>
        If you want to explore other alternatives, you need to enter only one filename.
        <br>
        <img src="http://i.imgur.com/H1spiTe.png" alt="">
        <br>
        <img src="http://i.imgur.com/TZkWyxF.png" alt="">


    </div>

{% endblock content %}