{% extends "base.html" %}
{% block js_css %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/select_file.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css"/>
    <link href="http://static.flag-sprites.com/css/flags.css" media="screen" rel="stylesheet"
          type="text/css"/>
    <link href="{{ STATIC_URL }}css/results.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/tipTip.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="http://cdn.jsdelivr.net/jquery.cookie/1.3/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.minified.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/results.min.js"></script>
{% endblock js_css %}
{% block extra_js_css %}

{% endblock extra_js_css %}

{% block test %}
    {#<script type="text/javascript" src="{{ STATIC_URL }}js/test.min.js"></script>#}
{% endblock test %}

{% block content %}
    <div id="search_info">
        <div id="drop_here">
            <div id="drop_here_box">
                <div class="vertical_center">
                    DROP HERE
                </div>
            </div>
        </div>
        <form id="search_form" action="/" method="get">
            <div id="table_of_languages">
                {% for language_name,language_info in languages.items %}
                    <div class="language">
                        <input class="checkbox" type="checkbox" name="language"
                               value="{{ language_info.iso_639_1 }}"
                               checked="true"
                               id="language_{{ language_info.iso_639_1 }}">
                        <img class="flag flag-{{ language_info.iso_3166_1 }}"
                             src="http://static.flag-sprites.com/i/blank.gif" alt=""/>
                        <label for="language_{{ language_info.iso_639_1 }}">{{ language_info.name }}</label>
                    </div>
                {% endfor %}
            </div>

            <textarea rows="3" id="search_box" name="filename">{{ filename }}</textarea>
            <button id="search_button" type="submit" value="Search">SEARCH</button>
            <div id="select_file">CLICK OR DROP HERE</div>

{#            <div id="drag_n_drop">#}
{#            </div>#}
            <div class="invisible_input">
                <input type="file" id="files" name="files[]" multiple/>
            </div>
        </form>
    </div>
{% endblock content %}
{% block logo %}
{% endblock logo %}
{% block out_of_tv %}
    <div id="results">
        <div id="results_content">
            {% block results %}

            {% endblock results %}
        </div>
    </div>
    <p id="back-top">
        <a href="#header"><span></span>Back to Top</a>
    </p>
{% endblock out_of_tv %}
{% block end_of_body %}
    <div class="modal"><!-- Place at bottom of page --></div>
{% endblock end_of_body %}
