<div id="social">
    If you found the subtitles you were looking for and would like to show us your support.
    Please Hit the Like Button, it takes 1 second and lets us know that you appreciate our work and
    lets other see what we make.
    <br>
    <div class="fb-like" data-href="http://www.facebook.com/subtitles4me" data-send="true"
         data-width="730" data-show-faces="true"></div>
</div>